:root {
  --bg-color: hsl(0, 0%, 0%);
  --typewriterSpeed: 4s;
  --typewriterCharacters: 25;
}
 
body {
  overflow-x: hidden;
  background-color: #f5f5f5;
  font-weight: 500;
  margin: 0;
  place-items: center;
  place-content: center;
  line-height: 1.6;
  background-color: #f5f5f5;
  /* overflow-y: hidden */
}

#mainPage{
  width: 100%;
}

.welcomeContainer{
  background-color: var(--bg-color);
}

.mainContainer {
  width: 100%;
  overflow-x: hidden;
}

.mainContainer>div {
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif;
}

#welcomeContainer{
  font-family: "Source Sans Pro", sans-serif;
  display: grid;
  place-content: center;
  text-align: center;
  grid-gap: 2vh;
  min-height: 100vh;
}

.sub-page-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #333;
  margin-bottom: 2rem;
}